*.jpg
*.csv

# *.pyc
# *.bin
# *.ipch
__pycache__/
.vscode/
*.dat
*.key
*.pyc
mapping/datasets/*
mapping/feature_matcher/myconfig.py
collect_data/wall_corresponding_feature_data
!calibration/perpendicularity_verification/perpendicular_walls_manual_data/**/*.jpg